<ion-header>
    <ion-navbar color="primary">
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>FERWAFA Schedule</ion-title>
    </ion-navbar>

    <ion-toolbar color="medium">
        <ion-title>My Teams</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="!favorites">
        <ion-card-header class="my-teams-header">No Followed Teams</ion-card-header>
        <ion-card-content>
            <p>You are not current following any Team</p>
            <p>First select a tournament , then you can follow teams form their team page.</p>


            <button ion-button icon-right full (click)="goToTournaments()">
                Find a Tournament
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-card-content>
    </ion-card>


    <ion-card *ngIf="favorites">
        <ion-list>
            <ion-list-header class="my-teams-header">Followed Teams</ion-list-header>

            <button ion-item *ngFor="let item of favorites" (click)="favoriteTapped($event, item)">
                <ion-icon name="basketball"></ion-icon>
                {{item.team.name}}
                <p>{{item.tournamentName}}</p>
            </button>

        </ion-list>

        <ion-card-content>
            <p>To Follow more teams , select a Tournament , then you can follow more teams from their team page.</p>
            <button ion-button icon-right outline full (click)="goToTournaments()">
                Find a Tournament
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-card-content>
    </ion-card>






</ion-content>